
:host {
    width: 100%;
    height: auto;
}

div.row {
    display: flex;
    flex-direction: row;
    /* z-index: 1000; */
    /* z-index: 10; */

}
@media (max-width: 600px) {
    div.mobileview {
        display: flex;
      flex-direction: column;
      
    }
    div.mobilewidth{
        width: 80%;
       padding-left: 32px;
        
    }
}
@media (min-width: 600px) and (max-width: 1000px) {
    div.mobileview {
        grid-template-columns:1fr 1fr;
        flex-wrap: wrap;
    }
}
@media (min-width: 1000px){
    div.mobileview {
        grid-template-columns:1fr 1fr 1fr 1fr;
    }
}
